*
!*/
!*.py
!*.sh
!*.config
!*.gdb
!*.lark
!*.vkern
!*.vcl
!*.md
!*.txt

!.env
!.gitignore
!Dockerfile
!.dockerignore
!Makefile
!README
!README.md
!_config.yml
!LICENSE
!CITATION.*

*~
__pycache__/
out/
tmp/
temp/
dist/

/linux-*.xz
/linux-*/
/kernel/

!**/*.vscode/*
