body {
    display: grid;
    grid-template-areas: "gg";
    height: 99.9vh;
    overflow: hidden;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@import "./libs.css";

@import "@fontsource/inconsolata/400";

